<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "SamoFund ::dot:: Net" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "/js/libs/modernizr.js" %>
    <%= javascript_include_tag "/js/libs/selectivizr.js" %>
    <%= javascript_include_tag "https://use.typekit.com/qyd4lft.js" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body id="samofund_home">
    <header class='layout mod' id='masthead'>
      <a href="/"><img alt="Logo" src="/assets/logo.png" /></a>
      <nav class='primary'>
        <ul>
          <li><a href="/" class="current">Home</a></li>
          <li><a href="#">Clients</a></li>
          <li><a href="#">About</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </nav>
    </header>
    <section class='layout mod' id='main'>
      <%= render "shared/flash", :flash => flash %>
      <%= yield %>
    </section>
    <footer class='layout mod'>
      <p>&copy; 2012 SamoFund</p>
      <nav>
        <ul>
          <li><a href="https://www.facebook.com/samotech">Join us on Facebook</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>